<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head_title %}
    <title>Billjobs</title>
    {% endblock head_title %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}" /> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  </head>

  <body>
    <nav class="navbar is-fixed-top">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
          <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
        <div class="navbar-burger burger" data-target="mainNavbar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="mainNavbar" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'profile' %}">
            <i class="fa fa-user-circle"></i>
            Mon Profil
          </a>
          <a class="navbar-item" href="{% url 'bills' %}">
            <i class="fa fa-file-text"></i>
            Mes Factures
          </a>
          <a class="navbar-item" href="{% url 'directory' %}">
            <i class="fa fa-address-book"></i>
            Annuaire
          </a>
          <a class="navbar-item" href="{% url 'onboarding' %}">
            <i class="fa fa-id-badge"></i>
            Accueillir un nouveau coworker
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button" href="#">
                  <span>
                    Retour au site
                  </span>
                </a>
              </p>
              {% if user.is_authenticated %}
              <p class="control">
                <a class="button is-danger" href="{% url 'logout' %}">
                  <span>Se déconnecter</span>
                </a>
              </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% block body %}{% endblock body %}
  </body>
</html>
